# Compiled JavaScript files

node_modules/

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env
.env.local

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# IDE
.dart_tool/
.bin/
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

